
@import url('https://fonts.googleapis.com/css2?family=Hind:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter&family=Nanum+Gothic+Coding&display=swap');


/* Styles those are commom accrose the page  */
.common{
    max-width: 1200px;
    margin: 0 auto;
}


*{
    margin: 2px;
}

/* banner related styles */


.banner{
    width: 1100px;
    height: 600px;
    background-image: url("./images/bannerImage.png");
    background-size: cover;
    background-position: center;
    position: relative;
}

 #newYearText {
    font-size: 5rem;
    color: rgb(249, 246, 246);
    /* text-align: center; */
    height: 500px;
    /* position: absolute; left: 0; top: 0; width: 100%; height: 100%; */

    /* background-image: linear-gradient( to bottom, 
    rgba(0,0,0) , blue */
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);

}

#newYearText{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    }

#happyNewYear{
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#party{
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 82px;
    font-style: normal;
    font-weight: 900;
    line-height: 95px; 
}


/* 65% off related part styles */
.off{
    padding-top: 80px;
    padding-bottom: 55px;
}

#off65{
    font-family: Hind;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    
}


#allCategories{
    color: #070211;
    text-align: center;
    font-family: Hind;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    
    line-height: 60px;
}




.color, .colors{
    color: red;
    text-align: center;
    font-family: Hind;
}

.colors{
    color: #070211;
}

.off .offPhoto{
    text-align: center;
    
}

/* welcome party */


.welcome{
    margin: 0 auto;
    width: 1100px;
    height: 600px;
    background-color: steelblue;
    background-image: url("./images/vectorrr.png");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}


.welcome > #welcomeDiv{
    font-size: 53px;
    color: white;
    /* position: absolute; left: 0; top: 0; width: 100%; height: 600px;  */
    height: 600px;
    background-image:  linear-gradient(to right, #070211 0%, rgba(255, 255, 255, 0.00) 100%);
}


#welcomeDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

#textDiv{
    padding-left: 80px;
    
}


#welcomeParagraphTetx{
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
   
}

button{
    
    border-radius: 5px;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: white;
    border: 0;
    background-color: rgb(15, 14, 14);
    
}
.buttonHover:hover{
    background-color: purple;
}

/* Schedule related styles */
.time{
    padding-top: 50px;
    text-align: center;
    text-align: center;
    font-family: Inter;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: 46px;
}

.redcolor{
    color: red;
}

.timeSection{
    margin-top: 100px;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    height: 200px;
    width: 1100px;
    
}

.btn{
    background: #F00;
    border-radius: 8px;
}


/* styles related to inner-cicle image */
.circle{

    margin-top: 100px;
    margin-bottom: 120px;
    display:flex ;
}

#new-best-offer{
    color: #FF0000;
}
.circle{
    padding-top: 120px;
    width: 1120px;
    max-width: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.circle-div{
    
    border-radius: 50%;
    height: 230px;
    width: 230px;
    border: 10px solid red;
    flex-shrink: 0;

}

.circle-div1{
    width: 319px;
}

.circle-div3{
    width: 276px;
}

#color2024{
    color: #FF0000;
}

#circle-image{
    padding-left: 13px;
    padding-top: 13px;
}


/* Holiday sale related styles */
.holiday-div1{
    justify-content: center;
   text-align: center;
    width: 660px;
    margin-left: 250px;
    max-width: 1350px;
    padding-bottom: 45px;
}
#funstional{
    color: #070211;
    font-family: Inter;
    font-size: 19px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
#holidaySaleTitle{
    font-family: Merriweather;
    font-size: 55px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

#holidays{
    color: #F00;
}

.container{
    width: 90%;
    max-width: 500px;
    margin: 0 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left{
    padding-top: 78px;
    padding-right: 200px;
    width: 1100px;
    height: 600px;
    background-image: url("./images/girlWithShoppingBag.png");
    background-repeat: no-repeat;
    background-position-x: right;
}

.holiday-div2{
    display: flex;
    background-image: url("./images/redStrip.png");
    background-size: 1100px 220px;
    background-repeat: no-repeat;
    background-position: right 20px bottom 100px;
    max-width: 1300px;
}

.right{
    margin-left: 100px;
}


    

/* Portfolio Related styles */

.container-porfolio{
    padding-left: 70px;
    margin-bottom: 120px;
}

#portfolioText{
    padding-left: 30px;
}
#best-gifts{
    color: #F00;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

#awesome{
    color: #070211;
    font-family: Merriweather;
    font-size: 34px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
    margin-bottom: 18px;
}

#portfolio-paragraph{
    margin-bottom: 32px;
}

.container-porfolio  .portfolio-div1{
    width: 560px;
}

.product-images{
    width: 1100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
}


/* Subscribe related style */

.subscribe{
    width: 1100px;
    height: 416px;
    text-align: center;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    padding-top: 70px;
    margin-bottom: 100px;
}
#subscribeNewsletter{
    color: #070211;
    text-align: center;
    font-family: sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 900;
    padding-top: 20px;
}

#newsletterParagraph{
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: inter;
    font-size: 17px;
    font-style: normal;
    font-weight: 100;
    line-height: 32px;
    padding-top: 10px;
    padding-bottom: 25px;
}

#email-subscribe{
    width: 350px;
    height: 42px;
    border-style: none;
    border-radius: 50px;
    background: #FFF;
}


.btn-subscribe{
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 100;
    line-height: normal;
    text-transform: capitalize;
    width: 140px;
    height: 42px;
    flex-shrink: 0;
    border-radius: 0px 50px 50px 0px;
    background: #F00;
    border-style: none;
}


/* Footer related styles */
.footer{
    background: #070211;
    padding-top: 50px;
    padding-bottom: 50px;
}

.adress, .copyRight{
    
    padding-left: 100px;
    padding-right: 100px;
    display: flex;
    justify-content: space-between;
    color: white;
    margin-bottom: 45px;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 45px;
    padding-bottom: 45px;
    gap: 15px;
}

#contactUs{
    display: flex;
}

#hrLenght{
    width: 975px;
    margin: auto;
    color: #F00;
    border: none;
    
}

#id{
    padding-top: 30px;
}


/* Extra Css */

.hoverWeb:hover{
    color: purple;
}
.hoverSubscriber:hover{
    color: purple;
}

